<!doctype html>
<html>
<head>
    <title>QR Found</title>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron text-center">
        <h1><span class = "glyphicon glyphicon-log-in"></span> QR Found Authentication</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/registration" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
    </div>
</div>

<div class = "container">
    <div class = "jumbotron text-center">
        <h1>What is QR Code?</h1>
        <p>
            Users will register for your service. They will register items they own and care about and your application will create unique codes for them in the form of printable QR codes, which they will stick on their items (e.g. cell phone). Once an item is lost and recovered, its QR code can be scanned and your application will be notified of the event and the recovering party. Your application will act as the trusted third party and coordinate the return of the item. Naturally, in the scope of this class you will not need to implement the real-life process of returning the item to its owner, just the processing of such events.
        </p>
    </div>
</div>
</body>
</html>