<!doctype html>
<html>
<head>
    <title>QR Found Authentication</title>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron text-center">
        <h1><span></span> QR Found Authentication</h1>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/registration" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
    </div>
</div>

<div class = "container">
    <div class = "jumbotron text-center">
        <h1>What is QR Found?</h1>
        <p>
            QR Found is a service that will allow users to create printable QR codes to stick on items that they register on the service (e.g. cell phone). If an item is lost, the recovering party can then scan the QR code to notify and email the owner that their item has been found. The application will act as the trusted third party to coordinate the return of the item.
        </p>
    </div>
</div>
</body>
</html>