<h1>Item List for Some User</h1>

<body>
<form name = 'myForm' method="POST" action="/:user_id">
Routine Name: <input type="text" name="title"/>
<input type="submit" value = 'Add New Item!'>
</form>

<div>
	{{#each item_list}}
    {{#each this.item}}
      <h2> <a href="http://localhost:3000/{{this.user_id}}">{{this.user_id}}</a></h2>
    {{/each}}
	{{/each}}
</form>
</div>
</body>



<a href="/logout">logout</a>
