<h1>Recover Item</h1>
<p>Please message the owner of the lost item</p>
<form method="post" action="/{{object.user_id}}/{{object.object_id}}/recover">
    <textarea name="textbox" cols="40" rows="5"></textarea><br>
    <input type="submit" value="Send Message">
</form>

{{object.user_id}}/{{object.object_id}}
