<div class = "container">
    <div class = "jumbotron text-center">
        <h1>Recover Item</h1>
        <p>The following message will be sent to the owner!</p>
        <form method="post" action="/{{object.user_id}}/{{object.object_id}}/recover">
            <textarea name="textbox" cols="40" rows="5"></textarea><br>
            <input type="submit" class = "btn bt" value="Send Message">
        </form>
    </div>
</div>

