{{#if owner}}
    <h1>Item Status</h1>
    <h3>Current Status: {{item.status}}</h3>
    In-Possession <input type = "checkbox" name = "item_status" value = "in_possession">
    Found <input type = "checkbox" name = "item_status" value = "found">
    Lost <input type = "checkbox" name = "item_status" value = "lost">
{{else}}
    <h1>Recover Item</h1>
    <form method = "post" action = "">
        <textarea name = "textbox" cols = "40" rows = "5"></textarea><br>
        <input type = "submit" value = "Send Message">
    </form>
{{/if}}
